.ipynb_checkpoints
#results/
deprecated/
#OUTPUTS/
MCMC/
grid_wide/
*/*.bsp
*.jld2
*.pdf
*.mem
src/*.mem
.DS_Store
corner_plot.sublime-workspace
/test
2025/widep3_30soffset.png
2025/widep4_10soffset.png
